.service{
    background-color: black;
    border-radius: 1px solid rgb(175, 150, 150);
    padding-top: 50px;
}
.service img{
    height:250px;
    width: 100%px;
    border-radius: 2px;
}
.service h3, p {
    color: white;
    
}